.logo span {
	color: #02b8ef;
}

.banner h1 {
	color: #999;
}

.banner h1 span {
	color: #8a5;
}

.banner p {
	color: #999;
}

#countdown .number {
	color: #555;
}

#about .items .item i,
#about .items .item img {
	color: #cf8;
	background-color: #f8f8f8;
	border: 1px solid #eee;
}

#about .items .item h2 {
	color: #555;
}

#progress #passed {
	background-color: rgba(136,170,85, 0.7);
}

#about h1 {
	color: #555;
}

#about .services .service h2 {
	color: #555;
}

#contactus #home-button,
#subscribe #contact-button,
#about #subscribe-button {
	color: #555;
}

#contactus #home-button:hover,
#subscribe #contact-button:hover,
#about #subscribe-button:hover {
	background-color: #dfa;
	border: 1px solid #dfa;
}

#subscribe h1 {
	color: #555;
}

#subscribe .form-wrapper #submit {
	background-color: #dfa;
	color: #555;
}

#subscribe .form-wrapper #submit:hover {
	background-color: #ce9;
}

#contactus h1 {
	color: #ccc;
}

#contactus #contact-info .sns span a:hover {
	color: #dfa;
	background-color: #999;
}
