.logo span {
	color: #888;
}

.banner h1 {
	color: #cd8;
}

#countdown .number {
	color: #777;
}

#progress #passed {
	background-color: rgba(204,221,128, 0.7);
}

#ourservice h1 {
	color: #555;
}

#ourservice .services .service h2 {
	color: #555;
}

#contactus #home-button,
#subscribe #contact-button,
#ourservice #subscribe-button {
	color: #555;
}

#contactus #home-button:hover,
#subscribe #contact-button:hover,
#ourservice #subscribe-button:hover {
	background-color: #cd8;
	border: 1px solid #cd8;
}

#subscribe h1 {
	color: #555;
}

#subscribe .form-wrapper #submit {
	background-color: #cd8;
	color: #555;
}

#subscribe .form-wrapper #submit:hover {
	background-color: #de9;
}

#contactus h1 {
	color: #ccc;
}

#contactus #contact-info .sns span a:hover {
	color: #cd8;
	background-color: #999;
}
