/* base setting */

* { margin: 0; padding: 0; }
*:focus { outline: none; }

html, body { height: 100%; }

body {
	font-family: Helvetica, Arial, sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

::-webkit-input-placeholder { /* WebKit browsers */
	font-size: 16px;
	line-height: 1.5;
	font-style: italic;
	letter-spacing: 1px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-size: 16px;
	line-height: 1.5;
	font-style: italic;
	letter-spacing: 1px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-size: 16px;
	line-height: 1.5;
	font-style: italic;
	letter-spacing: 1px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	font-size: 16px;
	line-height: 1.5;
	font-style: italic;
	letter-spacing: 1px;
}

/* layout */

.wrapper {
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.container {
	width: 50%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.short-line {
	height: 1px;
	border-width: 0px;
	background-color: #777;
	width: 100px;
	margin: 20px auto;
}

/* facepage */

.facepage {
	background-color: rgba(255, 255, 255, 0.8);
	padding-top: 120px;
}

#backpics {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}


/* logo */

.logo {
	height: 50px;
	text-align: center;
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
}

.logo img {
	width: 50px;
	height: 50px;
}

.logo span {
	font-family: Helvetica, arial, sans-serif;
	font-size: 2em;
	color: #ddd;
	letter-spacing: 2px;
}

/* banner */

.banner {
	margin: 30px auto 70px;
	text-align: center;
}

.banner h1 {
	//font-family: "Stencil Std";
	color: #999;
	font-size: 2em;
	margin-bottom: 10px;
	letter-spacing: 2px;
	animation-duration: 1500ms;
	-webkit-animation-duration: 1500ms;
	-moz-animation-duration: 1500ms;
	-ms-animation-duration: 1500ms;
	-o-animation-duration: 1500ms;
	animation-delay: 500ms;
	-webkit-animation-delay: 500ms;
	-moz-animation-delay: 500ms;
	-ms-animation-delay: 500ms;
	-o-animation-delay: 500ms;
}

.banner h1 span {
	color: #cd8;
}

.banner p {
	font-size: 1em;
	color: #999;
	letter-spacing: 1px;
	animation-delay: 500ms;
}

/* countdown */

#countdown {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 50px auto 30px;
	width: 80%;
}

#countdown .inner-wrapper {
	width: 25%;
	float: left;
	text-align: center;
}

#countdown .number {
	color: #aaa;
	line-height: 50px;
	font-size: 4em;
}

#countdown .desc {
	margin-top: 10px;
	font-size: 1em;
	color: #666;
}

/* progress */

#progress {
	height: 10px;
	margin: 10px auto;
	position: relative;
	background-color: rgba(125,125,125, 0.3);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

#progress #passed {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: rgba(204,221,128, 0.7);
	height: 100%;
	width: 0;
}

#progress #persentage {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	color: #666;
	text-align: center;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

/* about arrow */

#about-arrow {
	width: 100%;
	color: #777;
	position: absolute;
	bottom: 0;
	text-align: center;
	overflow: hidden;
}

#about-arrow .inner-wrapper {
	width: 100px;
	margin: 0 auto;
	cursor: pointer;
}

#about-arrow .inner-wrapper .desc {
	position: relative;
	top: 30px;
	opacity: 0;
	transition: 400ms ease-in-out;
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-ms-transition: 400ms ease-in-out;
	-o-transition: 400ms ease-in-out;
}

#about-arrow .inner-wrapper i {
	font-size: 1.2em;
	position: relative;
	animation: arrow_down 1s linear infinite alternate;
	-webkit-animation: arrow_down 1s linear infinite alternate;
	-moz-animation: arrow_down 1s linear infinite alternate;
	-ms-animation: arrow_down 1s linear infinite alternate;
	-o-animation: arrow_down 1s linear infinite alternate;
}

@keyframes arrow_down {
	0% { top: -5px; }
	30% { top: -5px; }
	100% { top: 5px; }
}

@-webkit-keyframes arrow_down {
	0% { top: -5px; }
	30% { top: -5px; }
	100% { top: 5px; }
}

@-moz-keyframes arrow_down {
	0% { top: -5px; }
	30% { top: -5px; }
	100% { top: 5px; }
}

@-ms-keyframes arrow_down {
	0% { top: -5px; }
	30% { top: -5px; }
	100% { top: 5px; }
}

@-o-keyframes arrow_down {
	0% { top: -5px; }
	30% { top: -5px; }
	100% { top: 5px; }
}

#about-arrow:hover .desc {
	top: 0;
	opacity: 1;
}

/* about */

#about {
	background-color: #fff;
	padding: 50px 0;
}

#about h1 {
	color: #555;
	font-size: 2em;
	text-align: center;
	text-shadow: 0 3px 5px #ccc;
}

#about .items {
	width: 90%;
	margin: 0 auto;
}

#about .items .item {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 33.33%;
	margin: 0 auto;
	float: left;
}

#about .items .item i,
#about .items .item img {
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-ms-border-radius: 999px;
	-o-border-radius: 999px;
	display: block;
	width: 250px;
	height: 250px;
	line-height: 250px;
	text-align: center;
	margin: 30px auto;
	font-size: 8em;
	color: #cf8;
	background-color: #eee;
	border: 1px solid #ddd;
}

#about .items .item h2 {
	color: #555;
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 20px;
}

#about .items .item p {
	color: #555;
	line-height: 1.5;
	padding: 0 30px;
}

/* button */

#contactus #home-button,
#subscribe #contact-button,
#about #subscribe-button {
	width: 100px;
	margin: 50px auto 20px;
	padding: 10px 20px;
	border: 1px solid #777;
	letter-spacing: 1px;
	color: #555;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-ms-border-radius: 999px;
	-o-border-radius: 999px;
	transition: 500ms;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-ms-transition: 500ms;
	-o-transition: 500ms;
}

#contactus #home-button:hover,
#subscribe #contact-button:hover,
#about #subscribe-button:hover {
	background-color: #cd8;
	border: 1px solid #cd8;
}

/* subscribe */

#subscribe {
	padding: 50px 0;
	background-color: #f8f8f8;
}

#subscribe h1 {
	text-align: center;
	font-size: 2em;
	color: #555;
	text-shadow: 0 2px 3px #999;
}

#subscribe .form-wrapper {
	margin: 80px auto 50px;
	width: 50%;
}

#subscribe .form-wrapper .desc {
	margin: 50px auto;
	font-size: 1.2em;
	color: #555;
}

#subscribe .form-wrapper form {
	border: 1px solid #ccc;
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-ms-border-radius: 999px;
	-o-border-radius: 999px;
	text-align: center;
	width: 100%;
	height: 40px;
	overflow: hidden;
	background: #fff;
}

#subscribe .form-wrapper #email {
	display: block;
	width: 80%;
	height: 40px;
	font-size: 1.2em;
	border-width: 0;
	padding-left: 15px;
	box-sizing: border-box;
	float: left;
}

#subscribe .form-wrapper #submit {
	width: 20%;
	height: 40px;
	float: right;
	border-width: 0;
	background-color: #efa;
	border-radius: 999px;
	color: #555;
	font-size: 1em;
	letter-spacing: 1px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-ms-border-radius: 999px;
	-o-border-radius: 999px;
	transition: 100ms;
	-webkit-transition: 100ms;
	-moz-transition: 100ms;
	-ms-transition: 100ms;
	-o-transition: 100ms;
}

#subscribe .form-wrapper #submit:hover {
	background-color: #9a5;
	cursor: pointer;
}

#subscribe .more-info {
	width: 50%;
	color: #555;
	line-height: 1.5;
	font-size: 1em;
	margin:	100px auto;
}

/* contact us */

#contactus {
	padding: 10px;
	background-color: #333;
}

#contactus h1 {
	color: #ccc;
	text-align: center;
	font-size: 2em;
	margin-top: 30px;
	text-shadow: 0 2px 3px #555;
}

#contactus #form-wrapper {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 60%;
	float: right;
	padding: 30px 50px;
}

#contactus #form-wrapper input,
#contactus #form-wrapper textarea {
	width: 100%;
	height: 40px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #ccc;
	margin: 20px auto;
	border: 1px solid #555;
	padding: 5px 10px;
	background-color: #333;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	transition: 500ms;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-ms-transition: 500ms;
	-o-transition: 500ms;
}

#contactus #form-wrapper textarea {
	height: 100px;
}

#contactus #form-wrapper input:focus,
#contactus #form-wrapper textarea:focus {
	background-color: #555;
}

#contactus #form-wrapper input#submit {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #999;
}

#contactus #form-wrapper input#submit:hover {
	cursor: pointer;
	background-color: #555;
}

#contactus #contact-info {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 40%;
	float: left;
	padding: 50px 0 50px 100px;
}

#contactus #contact-info > * {
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	line-height: 1.5;
	color: #999;
	margin-top: 20px;
}

#contactus #contact-info h3 {
	font-size: 0.95em;
}

#contactus #contact-info h3 i {
	width: 30px;
	margin-right: 10px;
	font-size: 1.5em;
}

#contactus #contact-info .detail {
	margin-left: 30px;
}

#contactus #contact-info a:link,
#contactus #contact-info a:active,
#contactus #contact-info a {
	color: #999;
	text-decoration: none;
}

#contactus #contact-info a:hover {
	color: #ccc;
}

#contactus #contact-info .sns {
	margin: 40px 0 40px 30px;
}

#contactus #contact-info .sns span {
	margin: 0 5px;
	float: left;
	display: block;
	width: 35px;
	height: 35px;
}

#contactus #contact-info .sns span a {
	display: block;
	height: 100%;
	line-height: 35px;
	text-align: center;
	border: 1px solid #999;
	font-size: 20px;
	transition: 100ms;
	-webkit-transition: 100ms;
	-moz-transition: 100ms;
	-ms-transition: 100ms;
	-o-transition: 100ms;
}

#contactus #contact-info .sns span a:hover {
	color: #cd8;
	background-color: #999;
}

/* footer */

#footer {
	background-color: #999;
	text-align: center;
	padding: 50px 0;
	color: #444;
}
